*{
  margin: 0px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: radial-gradient(red, white)
}

.sectionContainer{
  display: flex;
}

.section{
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.25);
  background: rgba(255,255,255,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

